.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.sectionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.section {
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 30%;
  min-height: 300px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.sectionHeader {
  margin-bottom: 1rem;
}

.profileImage {
  border-radius: 10px;
}
