.pageContainer {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.pageContent {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.subHeader {
  color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.paragraph {
  margin: 10px 0;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
